<div class="container-fluid">

  <div class = "jumbotron mainJumbotron text-center">
      
    <h2>Welcome to MongoScraper</h2>
    <form action="/scrape">
      <button type="submit" class="btn btn-info btn-primary" value="Scrape News">Scrape News</button>
    </form>
  </div> {{!-- end jumbotron --}}

	<div class="row">
	<div class="col-md-6" id="articles">
	</div>
	<div class="col-md-6" id="notes">
	</div>
	</div>

</div> {{!-- end container-fluid --}}

